.post-1 {
    width: 1500px;
    background-color: #34495e;
    border-radius: 20px;
    color: white;
    padding: 21px;
    margin: 20px;
    }

h1 {
    font-size: x-large;
    margin: 20px;}

.text {
        margin: 50px;
        
        
        
    }